<!DOCTYPE html>
html
	head
		meta(http-equiv="Content-type" content="text/html; charset=utf-8")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
		title webpack starter pug
	body
	block content